body {
    margin: 0;
    background: #111;
    color: #eee;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

#ui-root {
    padding: 10px;
}

#top-bar {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

#settings-box {
    width: 150px;
    height: 40px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#settings-box h3 {
    margin: 0;
}

#upgrade-tabs {
    display: flex;
}

#upgrade-tabs .tab {
    flex: 1;
    height: 40px;
    background: #222;
    border: 1px solid #444;
    color: #eee;
    cursor: pointer;
    transition: background 0.2s;
}

#upgrade-tabs .tab.selected {
    background: #555;      /* brighter */
    border-color: #888;    /* highlighted */
    font-weight: bold;     /* obvious */
    display: block;
}

#upgrade-tabs .tab:hover {
    background: #333;
}

.panel {
    width: 80%;
    display: flex;
    height: calc(100vh - 60px);
}


.hidden {
    display: none;
}


.scroll-box {
  height: 90%;        /* fixed height */
  overflow-y: auto;     /* vertical scroll only */
}

#manaPanel {
    display: flex;

}

#title-box {
    flex: 1;
    height: 40px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#title-box h1 {
    margin: 0;
}

#main-area {
    gap: 10px;
    margin-top: 10px;
    display: flex;
}

#sidebar {
    width: 10%
}

.sidebarButton {
    width: 100%;
    margin-top: 5px;
    padding: 6px;
    background: #222;
    color: #eee;
    border: 1px solid #444;
    cursor: pointer;

    display: flex;
}

.upgradeCost:hover {
    background: #333;
}

.column {
    flex: 1;
}

.box {
    border: 1px solid #444;
    padding: 10px;
    background: #181818;
}

.upgradeButton {
    width: 100%;
    margin-top: 5px;
    padding: 6px;
    background: #222;
    color: #eee;
    border: 1px solid #444;
    
    display: flex;
}

.upgradeCost:hover {
    background: #333;
}

.upgradeText {
    width: 60%;
}

.upgradeCost {
    border: 1px solid #444;
    padding: 10px;
    background: #181818;
    justify-content: center; /* horizontal */
    align-items: center;     /* vertical */
    cursor: pointer;
    width: 40%;
}

#costAmount {
    text-align: center;
    margin-bottom: 0px;
}

#ownedAmount {
    margin-top: 0px;
    text-align: center;
}

.mana-bar {
  width: 300px;
  height: 30px;
  border: 1px solid #aaa;
  margin: 4px 0;
  background: #111;
}

.mana-bar-data {
  display: flex;
}

.mana-bar-fill {
  height: 100%;
  width: 0%;
  background: #3af;
  transition: width 0.1s linear;
}


h1,h2, h3 {
    margin: 0px;
    margin-bottom: 20px;
}



* {
  box-sizing: border-box;
}

.scroll-box::-webkit-scrollbar {
  width: 12px;
}

.scroll-box::-webkit-scrollbar-track {
  background: #111; /* track color */
}

.scroll-box::-webkit-scrollbar-thumb {
  background: #444; /* scrollbar color */
  border-radius: 6px;
}

.scroll-box::-webkit-scrollbar-thumb:hover {
  background: #111; /* hover color */
}

.scroll-box {
  scrollbar-width: thin;
  scrollbar-color: #444 #111;
}